https://github.com/geobricks/geobricks_rest_engine/archive/development.zip
https://github.com/geobricks/geobricks_common/archive/development.zip
https://github.com/geobricks/geobricks_modis/archive/development.zip
https://github.com/geobricks/geobricks_downloader/archive/development.zip
https://github.com/geobricks/geobricks_proj4_to_epsg/archive/development.zip
https://github.com/geobricks/geobricks_gis_raster/archive/development.zip
https://github.com/geobricks/geobricks_geostatistics/archive/development.zip
https://github.com/geobricks/geobricks_dbms/archive/development.zip
https://github.com/geobricks/geobricks_spatial_query/archive/development.zip
https://github.com/geobricks/geobricks_mapclassify/archive/development.zip
https://github.com/geobricks/geobricks_geocoding/archive/development.zip
https://github.com/geobricks/geobricks_raster_correlation/archive/development.zip
https://github.com/geobricks/geobricks_processing/archive/development.zip